body, html {
    height: 100%;
    margin: 0;
}


.bg {
    z-index: -1;
    background-image: url("img/old_main.jpg");
    height: 50%;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transform: translate(0%, -20px);
}

.index-container {
    transform: translate(0%, 0%);
    width: 100%;
    padding: 20px;
}

h1 {
    font-weight: bold !important;
    color: #00263A !important;
    font-size: 80px !important;
}

small {
    color: white !important;
}



