<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>CS5890 Project 5 | Home</title>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>

            </button>
            <a class="navbar-brand" href="">{% load static %} <img src="{% static 'img/logo.png' %}" alt="logo" width="100" height="30"/></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="">Home</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="bg" ></div>





<div class="col-lg-12">
    <div class="index-container">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>About The Project</h3>
                <p> This is a project for the Utah State University class CS 5890/6890 Practical Natural
                    Language Processing taught by Dr. Qiwei Gan, Ph.D. This is a group assignment that was
                    accomplished by Jayden Bates, Makalee Beelek, KC Gubler, and Braeden Stewart. From the
                    options present, the group decided to choose Project 5: Medical Notes Named Entity
                    Recognition Platform (Application-oriented).
                <br>
                <br>
                    <i>Goal:</i>
                <br>
                <br>
                    Given medical notes, highlight different medical related entities such as diseases and their codes, symptoms, medications, lab tests, etc, display in the webpage.
                <br>
                <br>
                    <i>Skills needed:</i>
                <br>
                <ol>
                    <li>
                        CITI training for handling medical sensitive data
                    </li>
                    <li>
                        Become authorized user of the sensitive medical data
                    </li>
                    <li>
                        Data preprocessing and manipulation (regular expression, pandas lib)
                    </li>
                    <li>
                        Named entity recognition
                    </li>
                    <li>
                       Medical term code resolution
                    </li>
                    <li>
                        Data visualization
                    </li>
                    <li>
                        Web development
                    </li>
                </ol>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-12">
    <div class="index-container">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>Graphs</h3>
                <p>The below graphs are results on the MIMIC-III data.</p>
                <h4>Sentiment Analysis</h4>
                <p>TextBlob returns 2 values (polarity and subjectivity). Polarity has a range from -1 to 1. The closer
                    to -1 a comment is, the more negative the comment is. The closer to 1 a comment is, to more positive
                    the comment is. Subjectivity has a range from 0 to 1. The closer to 0 a comment is, the more factual
                    it is. The closer to 1 a comment is, the more opinionated it is.
                </p>
                <p><img src="{% static 'img/polarityAndSubjectivity.png' %}" alt="Sentiment Analysis Graph"/></p>
                <h4>Topic Modeling</h4>
                <p> The Topic Modeling graph shows the most important topics based on the input text from greatest to
                    least.
                </p>
                <p><img src="{% static 'img/topTopics.png' %}" alt="Topic Modeling Graph"/></p>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-12">
    <div class="index-container">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>Results</h3>
                <p>Due to the MIMIC-III files being too large, we cannot show the entire file at once on the webpage.
                    Our solution was to break it up into several parts. Click one of the buttons below to run the code
                    and display a part of the file or input your own text into the textbox below. Please wait a bit to
                    allow the .csv files to be read and for the function to run.</p>
                <br>
                <div class="btn-container">
                    <form action='' method='POST'>
                        {% csrf_token %}
                        <div class="form-group">
                            <button type="submit" value="Reply" class="btn btn-default" name="highlight1">Highlight 1</button>
                            <button type="submit" value="Reply" class="btn btn-default" name="highlight2">Highlight 2</button>
                            <button type="submit" value="Reply" class="btn btn-default" name="highlight3">Highlight 3</button>
                        </div>
                        <div class="row">
                            <div class="col-lg-3"></div>
                            <div class="col-lg-6">
                            <div class="form-group w-75">
                                <textarea class="form-control w-75" name="textInput" rows="4" cols="20" placeholder="Input your text here!"></textarea>
                            </div>
                            </div>
                            <div class="col-lg-3"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3"></div>
                            <div class="col-lg-1">
                                <button type="submit" value="Reply" class="btn btn-default" name="submitText">Submit</button>
                            </div>
                            <div class="col-lg-8"></div>
                        </div>
                    </form>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-2">
                        <div class="panel panel-default ">
                            <div class="panel-body">
                                <h4>Legend</h4>
                                <p>
                                    <mark class="entity" style="background: #E5EB34; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
                                        <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">
                                            ICD-10-CM
                                        </span>
                                    </mark>
                                    &nbsp; : International Classification of Diseases, Tenth Revision, Clinical Modification. A
                                    system used by physicians and other healthcare providers to classify and code all
                                    diagnoses, symptoms, and procedures in the United States. Used in clinical and
                                    outpatient settings.
                                    <br>
                                    <br>
                                    <mark class="entity" style="background: #EB344; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
                                        <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">
                                            ICD-10-PCS
                                        </span>
                                    </mark>
                                    : International Classification of Diseases, Tenth Revision, Procedure Coding System.
                                    A system used in the United states to classify and code diagnoses, symptoms, and
                                    procedures. Used exclusively in the United States in inpatient, hospital settings.
                                    <br>
                                    <br>
                                    <mark class="entity" style="background: #00FFFF; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
                                        <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">
                                            CHEMICAL
                                        </span>
                                    </mark>
                                     : The mention of a chemical or medication.
                                    <br>
                                    <br>
                                    <mark class="entity" style="background: #ADFF2F; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
                                        <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">
                                            DISEASE
                                        </span>
                                    </mark>
                                    &nbsp; : The mention of a disease or diagnoses.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                {{string | safe}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>